* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}

.header {
  height: 50px;
  background-color: #222;
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: 10;
}

.header > * {
  display: inline-block;
  margin: 19px 80px;
  font-weight: 100;
  color: white;
}

#logo {
  display: inline-block;
  float: left;
  margin: 19px 80px;
  font-size: 30px;
  font-weight: 100;
  color: white;
}

.header-links {
  text-decoration: none;
  display: inline-block;
  float: right;
  margin: 0;
}

.header-links > li {
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  padding: 29px 20px 1px 20px;
  height: 20px;
  bottom: 0;
  -webkit-transition: .3s; /* Safari */
  transition: .3s;
}

.header-links > li:hover {
  background-color: white;
  color: #222;
  cursor: pointer;
}


.cover {
  top: 0px;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}

.teal-overlay {
  background-color: rgba(0, 139, 139, .6);
  z-index: 2;
}

.start-image {
  background: url('https://images.pexels.com/photos/355747/pexels-photo-355747.jpeg') no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

#cover-content {
  position: absolute;
  display: inline-block;
  z-index: 4;
  top: 40%;
  left: 50%;
  width: 800px;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

#main-text {
  position: relative;
  font-size: 60px;
  color: white;
  background-color: #222;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  z-index: 5;
}

#sub-text {
  font-family: "Playfair Display", serif;
  font-style: italic;
  position: relative;
  font-size: 30px;
  color: #222;
  background-color: white;
  padding: 10px;
  text-align: center;
  width: 50%;
  float: right;
  z-index: 4;
}

.drop {
  fill: rgba(0, 80, 80, .5);
}

#raindrops {
  position: relative;
  z-index: 3;
}

