* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}

/* ================
CSS for Cover Page
================ */

/* ---CSS for Navbar--- */

.header {
  height: 50px;
  background-color: #222;
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: 10;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.header > * {
  display: inline-block;
  margin: 19px 80px;
  font-weight: 100;
  color: white;
}

#logo {
  display: inline-block;
  float: left;
  margin: 19px 80px;
  font-size: 30px;
  font-weight: 400;
  color: white;
}

.header-links {
  text-decoration: none;
  display: inline-block;
  float: right;
  margin: 0;
  padding: 0px 80px;
}

.header-links > li {
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  padding: 29px 20px 1px 20px;
  height: 20px;
  bottom: 0;
  -webkit-transition: .3s; /* Safari */
  transition: .3s;
}

.header-links > li:hover {
  background-color: white;
  color: #222;
  cursor: pointer;
}

/* ---CSS for Cover itself--- */

.cover {
  top: 0px;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}

.teal-overlay {
  background-color: rgba(0, 139, 139, .6);
  z-index: 2;
}

.start-image {
  background: url('Content/cover-image.jpeg') no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

/* ---CSS for text on cover--- */

#cover-content {
  position: absolute;
  display: inline-block;
  z-index: 4;
  top: 40%;
  left: 50%;
  width: 800px;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

#main-text {
  position: relative;
  font-size: 60px;
  color: white;
  background-color: #222;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  z-index: 5;
}

#sub-text {
  font-family: "Playfair Display", serif;
  font-style: italic;
  position: relative;
  font-size: 30px;
  color: #222;
  background-color: white;
  padding: 10px;
  text-align: center;
  width: 50%;
  float: right;
  z-index: 4;
}

/* ---CSS for rain on cover--- */

.drop {
  fill: rgba(0, 80, 80, .5);
}

#raindrops {
  position: relative;
  z-index: 3;
}

/* ---CSS for down arrow--- */

#down-arrow {
  position: absolute;
  max-width: 50px;
  max-height: 50px; 
  padding: 10px 25px;
  z-index: 6;
}

#down-arrow-box {
  position: absolute;
  display: inline-block;
  background-color: #222;
  height: 70px;
  width: 100px;
  bottom: 0;
  margin: 0px 80px;
  z-index: 5;
}

#down-arrow-box:hover {
  background-color: rgb(0, 139, 139);
  -webkit-transition: .3s; /* Safari */
  transition: .3s;
  cursor: pointer;
}

/* ================
CSS for About Page
================ */

#about {
  position: absolute;
  top: 100%;
  width: 100%;
}

#title-image {
  width: 100%;
  background-color: #222;
  height: 200px;
  position: relative;
}

#pt-image {
  position: absolute;
  display: inline-block;
  max-height: 160px;
  max-width: 160px;
  left: 80px;
  padding: 20px;
  border-radius: 50%;
  float: right; 
}

#about-title {
  position: absolute;
  display: inline-block;
  color: white;
  font-size: 1000%;
  bottom: -43px; 
  right: 80px;
  font-weight: 400;
}

.content-header {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 30px;
  margin: 10px;
  border-bottom: 1px solid #222;
}

.content-container {
  padding: 10px 175px;
}

.content-box-text {
  box-sizing:border-box
  background-color: #eee;
  color: #222;
  padding: 30px;
  position: relative;
  width: 100%;
}

.content-box {
  padding: 10px;
}

.half {
  width: 42%;
}

.right {
  right: 0;
}

.about-row {
  width: 100%;
  display: inline-flex;
  padding: 15px;
}

