* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}

.header {
  height: 50px;
  background-color: #222;
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: 10;
}

.header > * {
  display: inline-block;
  margin: 19px 80px;
  font-weight: 100;
  color: white;
}

#logo {
  display: inline-block;
  float: left;
  margin: 19px 80px;
  font-size: 30px;
  font-weight: 100;
  color: white;
}

.cover {
  top: 0px;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}

.teal-overlay {
  background-color: rgba(0, 139, 139, .6);
  z-index: 2;
}

.start-image {
  background: url('https://images.pexels.com/photos/355747/pexels-photo-355747.jpeg') no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

#cover-content {
  position: absolute;
  display: inline-block;
  z-index: 3;
  top: 40%;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

#main-text {
  font-size: 60px;
  color: white;
  background-color: #222;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 4;
}

#sub-text {
  font-size: 30px;
  color: #222;
  background-color: white;
  padding: 10px;
  text-align: center;
  width: 50%;
  float: right;
  z-index: 1;
}

